* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

:focus, :active {
    outline: none;
}

nav, footer, header, aside {
    display: block;
}

html, body {
    height: 100%;
    width: 100%;
    font-style: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input, button, textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a, a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style-type: none;
}

img {
    vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
    font-style: inherit;
    font-weight: 400;
}

body {
    max-width: 2160px;
    font-family: 'Century Gothic', sans-serif;
    background-image: url(https://firebasestorage.googleapis.com/v0/b/diplom-93856.appspot.com/o/background%2Fcm3.png?alt=media&token=a57bfd1b-584e-4d64-8dc3-ea656a36e13c);
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
    max-height: 96%;
}

.layout {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    
}

.main {
    flex-grow: 1;
}

header {
    padding-top: 50px; /* Отступ сверху */
    padding-bottom: 20px; /* Отступ снизу */
    display: flex;
    justify-content: space-between;
    color: white;
}

nav {
    padding: 10px;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    margin-right: 50px;
    user-select: none;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #66c2ff;
}

.logo {
    margin: 0 0 0 80px;
    font-size: 35px;
    font-weight: bold;
    user-select: none;
}

.list {
    display: flex;
}

.list li {
    padding: 5px;
    margin: 0 45px 0 0;
}

.list li:last-child {
    border-radius: 50px;
    border: 3px solid #fff;
}

.loga {
    margin-left: 120px;
    margin-top: 10px;
    margin-right: 50px;
    background-image: url(https://firebasestorage.googleapis.com/v0/b/diplom-93856.appspot.com/o/background%2Ffriren.jpg?alt=media&token=1e38aeaf-1eaf-4ba0-9ee1-be447fd70a94);
    width: 250px;
    height: 250px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 5%;
}

.about-us2 {
    color: #fff;
    font-size: 35px;
    max-width: 50%;
}

.about-us22 {
    margin-top: 15px;
    width: 900px;
    overflow: hidden;
    font-size: 30px;
}

.all {
    display: flex;
    padding-top: 180px;
}

.footer {
    position: fixed; /* Закрепляем футер */
    bottom: 0; /* Располагаем футер внизу страницы */
    width: 100%; /* Ширина футера на всю ширину страницы */
    color: white;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

.social {
    margin: 30px 0 0 80px;
    user-select: none;
}

.list2 img {
    color: white;
    height: 50px;
    width: 50px;
    margin-bottom: 30px;
}

/* Media queries for responsiveness */
@media only screen and (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: center;
    }

    nav {
        margin-right: 0;
        margin-top: 10px;
    }

    .list {
        flex-direction: column;
        align-items: center;
    }

    .list li {
        margin: 10px 0;
    }

    .loga {
        margin-left: 10px;
        margin-right: 10px;
    }

    .all {
        flex-direction: column;
    }

    .social {
        margin: 20px 0;
    }
}

/* Add more media queries as needed */