*{
	padding: 0;
	margin: 0;
	border: 0;
}
*, *:before, *:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus, :active{outline: none;}
a:focus, a:active{outline: none;}

nav,footer,header,aside{display: block;}

html, body{
	height: 100%;
	width: 100%;
	font-style: 100%;
	line-height: 1;
	font-style: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input, button, textarea{font-family: inherit;}

input::-ms-clear{display:none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding: 0;border: 0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style-type: none;}
img{vertical-align: top;}

h1,h2, h3, h4, h5, h6{font-style: inherit; font-weight: 400;}





body {
    font-family: 'Century Gothic', sans-serif;
    background-image: url(https://firebasestorage.googleapis.com/v0/b/diplom-93856.appspot.com/o/background%2Fcm1.png?alt=media&token=b362abe9-33f2-41f0-a586-6be4706a872b);
    min-height: 100%;
    
    background-position: center;
    background-repeat: no-repeat;
}

.head {
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white; /* Цвет текста */
}

nav {
    padding: 10px;
    list-style: none; /* Убираем стандартные маркеры списка */
    margin: 0;
    padding: 0;
    display: flex; /* Выстраиваем элементы в строку */
    margin-right: 50px; /* Внешний отступ между элементами */
}

nav a {
    text-decoration: none; /* Убираем подчеркивание ссылок */
    color: white; /* Цвет текста */
    font-weight: bold; /* Жирный текст */
    font-size: 20px; /* Размер текста */
    transition: color 0.3s ease; /* Плавный переход цвета текста */
}

nav a:hover {
    color: #66c2ff; /* Цвет текста при наведении */
}

.logo {
    margin: 0 0 0 80px;
    font-size: 35px; /* Установите размер текста для логотипа */
    font-weight: bold;
    user-select: none;
}

.list {
    display: flex;
}

.list li {
    padding: 5px;
    margin: 0 45px 0 0;
}

.list li:last-child{
    border-radius: 50px;
    border: 3px solid #fff;
}

.words {
    min-height: 100%;
    max-width: 100%;
    display: flex;
    justify-content: center;
}

.left-word{
    cursor: pointer;
    margin: 250px 0 0 0;
    font-size: 85px;
    color: #fff;
    text-align: left;
    font-weight: 800;
    user-select: none;
}

.center-words {
    font-size: 46px;
    color: gray;
    margin: 150px;
    font-weight: 800;
    user-select: none;
}

.center-words li {
    margin-bottom: 15px;
}

.white {
    color: white; 
}

.right-word {
    cursor: pointer;
    margin: 250px 0 0 0;
    font-size: 85px;
    color: #fff;
    font-weight: 800;
    user-select: none;
}

.clickable {
    cursor: pointer;
}